.text-preset-1{
    color: hsl(217, 45%, 22%);
    font-family: 'Outfit'; 
    font-weight: 700;

    /* No usar pixeles para el tamaño de la fuente, en su lugar 'em' y porcentajes*/
    /* pixels/16=em, y body css = font-size: 100%; -> soporte en otros navegadores */
    /* 22/16 */
    font-size: 1.375em; 
  }

  .text-preset-2{
    color: hsl(216, 15%, 48%);
    font-family: "Outfit";
    font-weight: 400;
    font: 0.9375em ;
  }

  body {
    font-size: 100%;

    /* Centrar todo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 97vh;
  }
  
  .qr_card {
    border-radius: 5%;
    background-color: white;

    /* Centrar todo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    min-width: 280px;
  }

  .qr_card img {
      border-radius: 5%;
      margin: 3% 3% 0% 3% ;
    }

  body{
    background-color: #D5E1EF;
  }

  .higher_bottom_margin{
    margin-bottom: 7%;
  }

  .fewer_top_margin{
    margin-top: -2%;
  }
